@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for fade-in effect */
.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.dashboard-card {
  @apply bg-white p-5 rounded-xl shadow hover:shadow-md border border-gray-200 flex flex-col items-center transition-transform transform hover:-translate-y-1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Jost", sans-serif;
  }
}

@layer components {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
